{{> head }}

    {{> navbar }}

    <div class="container">

        <div class="row">
            <h1>Batman</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum inventore sint autem voluptatibus nostrum similique explicabo assumenda accusantium rem, quae aliquam. In perspiciatis praesentium cupiditate voluptatum eaque omnis labore exercitationem.</p>
        </div>
        <div class="row" style="margin-bottom: 100px;">
            <img src="/assets/img/batman.jpg" alt="batman" class="img-thumbnail">
        </div>
    </div>

{{> footer}}